
body.signin-card {
    background-color: #5C8A94;
}

.container.signin-card {
    margin-top: 10%;
}

.card.signin-card {
    padding: 4px 0px 5px;
    background-color: #d6d6c2;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}